body{
  background-color: #cccccc;
  background-attachment: fixed;
  font-family: Arial, serif;
  text-decoration-color: rgba(23,58,63,50);
}
.icon, .navbar-brand{
  display: inline;

}
.icon{
  height: 90px;
  width: 120px;
  float: left;

}
.navbar {
  border: 4px darkorange solid;
  background-color: #cccccc;
}
.container{
  background-color: #cccccc;
  width: 80%;
  height: 100%;
  border: 3px #cccccc solid ;
}
.d-block{
  width: 50px;
  height: 400px;
}
.carousel-item{
  height: 550px;
  padding: 0px;
}
.d-block{
  height: 700px;
}
.carousel-caption{
  background-color: #cccccc;
  transform: translate(43%, 5%);
  alignment: center;
  border: 3px black solid;
  padding: 1px;
  width: 450px;
}
h5{
  padding-top: 20px;
}
.carousel-caption > h5{
  font-weight: bold;
}
.insta-text{
  background-color: rgba(13,58,63,255);
  float: left;
  margin-top: 30px;
  margin-left: 10px;
  border: 5px inset;
  width: 370px;
}
.insta-text p{
  color: white;
  height: 10px;
}
.insta-text ul li:nth-child(odd) {
  list-style-type: "●";
  color: orange;
  padding: 4px;
}
.insta-text ul li:nth-child(even) {
  list-style-type: "●";
  color: white;
  padding: 4px;
}
.list-group{
  clear-side: right;
  padding: 28px;

}
.list-group-item{
  border: 3px orange solid;
  background-color: #cccccc;
}
.btn {
  color: orange;
  margin-top: 30px;
  height: 190px;
  width: 100%;
  border: 2px grey;
}
.insta-text, .btn-lg {
  display: inline;
}
.card{
  width:18rem;
  margin-top: 30px;
  float: left;
}

form{
  clear-side: right;
  padding: 50px;
}
.searchbox_select{
  float: left;
  margin: 10px;
}
.grid{
  height: 50px;
  width: 50px;
}
.col{
  padding-bottom: 20px;
  alignment: center;
  padding-left: 30px;
}
.online{
  float: left;
}
.modal{
  clear-side: right;
}
footer{
  text-align: center;
  background-color: palegoldenrod;
  font-style: italic;
}
.to-do-list input[type="text"] {
  width: 70%;
  padding: 5px;
}

.to-do-list button {
  padding: 5px 10px;
  background-color: orange;
  color: white;
  border: none;
  cursor: pointer;
}

.to-do-list ul {
  list-style-type: none;
  padding: 0;
}

.to-do-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 5px;
  border-bottom: 1px solid #ddd;
  text-decoration-color: black;
  padding-left: 40px;
}

.to-do-list .completed {
  text-decoration: line-through;
  color: #888;
  alignment: left;
}
.to-do-list li button {
  margin-right: 5px;
}
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  pointer-events: none;
}
.login-register-form {
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.pagination {
  margin-top: 20px;
}
.pagination a {
  color: #333;
  text-decoration: none;
}
.pagination .page-item.disabled .page-link {
  background-color: #f5f5f5;
  border-color: #ddd;
  color: #777;
}
.tab-content {
  display: none;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-top: 10px;
  opacity: 0;
  transition: opacity 1s;
}
.tab-content.active {
  display: block;
  opacity: 1;
}
.countdown-container {
  max-width: 800px;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
}
.timer-container {
  font-size: 36px;
  color: orange; /* Set the timer text color to orange */
}

.countdown {
  font-weight: bold;
}
#timer {
  font-size: 1.5rem;
  font-weight: bold;
}

.progress-bar {
  height: 10px;
  background-color: #007BFF;
  position: relative;
  bottom: 0;
  left: 0;
  transition: width 1s linear;
}

.rating {
  display: inline-block;
}

.rating input {
  display: none;
}

.rating label {
  cursor: pointer;
  padding: 5px;
  color: #cccccc;
}

.rating label:before {
  content: '\2605';
  font-size: 30px;
  border: 1px black solid;
}

.rating input:checked + label:before {
  content: '\2605';
  color: orange;

}

#feedback-message {
  margin-top: 20px;
  font-weight: bold;
  color: orange; /* Orange color for the feedback message */
}
#comments{
  background-color: #cccccc;
}
.hidden {
  display: none;
}

#rating-form{
  background-color: white;
}
table {
  width: 400px;
  margin: 0 auto;
  text-align: center;
}

table, th, td {
  border: 1px solid black;
}

.question {
  background-color: #f0f0f0;
  padding: 10px;
}

.droppable {
  background-color: #ffffff;
  padding: 10px;
  border: 1px dashed #000000;
  height: 50px;
}

.draggable {
  background-color: #a9a9a9;
  padding: 10px;
  margin: 5px;
  cursor: pointer;
}
